[Desktop Entry]
Name=UEFI Firmware Setup (Reboot)
Comment=Access the motherboard configuration utility
Exec=goto-firmware-setup
Icon=system-restart
Terminal=false
Type=Application
Categories=System;
